:root{
    

--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);
--Dark-Grayish-Red: hsl(0, 6%, 24%);

}

body{
    height: 100vh;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
   
} 
.main{   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 13fr 9fr ;
    grid-template-rows: 2fr 8fr;
}

.main_logo {
    padding: 50px 0 0 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
  }

  .main_content {
    padding: 0 200px 0 100px;
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
  }
  .main_img {
    background-image: url(/images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 2 / 3;
    grid-row: 1 / 3 ;
  }

  .main_title{
      text-transform: uppercase;
    font-size: 6em;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    letter-spacing: 15px;
    }
    .main-title_were{
        font-weight: 200;
        color: var(--Desaturated-Red);
    }
    .main_description{
        color: var(--Desaturated-Red);
        line-height: 1.7;
        font-size: 1.4em;
    }
    .main_form{
        margin-top: 40px;
        display: flex;
        position: relative;
    }
    .main_input{
        padding-left: 20px;
    border-radius: 40px;
    width: 100%;
    height: 60px;
    outline: solid var(--Desaturated-Red);
        transition: all 1s;
        border: none;
    }
    .main_input:focus-visible{
        outline: solid var(--Soft-Red);

    }
    .main_input::placeholder {
       color: var(--Desaturated-Red);
       margin-left: 20px;
      }

      .main_button{
          cursor: pointer;
          position: relative;
          right: 80px;
          width: 125px;
          height: 72px;
          top:-5px;
          border: 0px ;
          border-radius: 30px;
          background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
          color: white;
         font-size: 2.5rem;
         box-shadow: 0 10px 15px rgba(206, 151, 151, 0.2);

        }
        .main_button:hover{
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 56%, 89%));

        }
        .icono{
            display: none;
            width: 30px;
            height: 30px;
            position: relative;
            top: 16PX;
            right: 220PX;
            
        }

        .main_for_caption{
            display: none;
            color: var(--Soft-Red);
            margin-left: 20px;
        }
  @media (max-width: 800px) {
    
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 120px 600px auto;

    }
    .main_logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .main_img{
        background-image: url(/images/hero-mobile.jpg);
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .main_content{
        margin-top: 100px;

        grid-column: 1/2;
        grid-row: 3/4;
    }
    .main_title{
        text-align: center;

    }
    
  }